.sorted-header {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  width: auto;
  cursor: pointer;
  /* padding: 0.5rem 0.5rem 0.5rem 0rem; */
}

@media only screen and (max-width: 600px) {
  .sorted-header {
    padding: 0rem 0rem;
  }
}

@media only screen and (max-width: 768px) {
  .sort-btn {
    display: none;
  }
}