.date-badge {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 20px;
    background: #eee;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 500;
}

.margin-all {
    margin-bottom: 5px;
    margin-top: 5px;
}

.bottom-line-time {
    border-bottom: 1px solid lightgray;
}
.bottom-line-action {
    border-bottom: 1px solid lightgray;
}
.history-time {
    text-align: center;
}
.history-user-id {
    text-align: center;
    padding-top: 10px;
}

.history-property {
    min-height: 36px;
    padding-top: 10px;
    font-weight: 500;
}

.history-new-value {
    padding-top: 10px;
    min-height: 36px;
}

.history-old-value {
    padding-top: 10px;
    text-decoration: line-through;
    min-height: 36px;
    margin-bottom: 10px;
}

.history-date-value-left {
    width: 30%;
}

.history-date-value-right {
    width: 70%;
}
