#cp .wrapper {
  display: flex;
}

#cp li{
  border : 1px solid black;
  width :30px;
  height:30px;
  text-decoration: none;
  list-style : none;
  margin-right :10px;
}
#cp .active {
  border-radius: 20px;
}