/* /* a {
    color: #fdf3d8;
    color: #d9a408;
    color: #624b04;
} */

/* #FDF3D8; 60% */
/* color: #D9A408;  30%*/

/* color: #624B04;  10%*/

/* a {
    color: #CAD3F7;
    color: #2A4EDF;
    color: #13287C;
}  */

/* #FDF3D8; 60% */
/* color: #D9A408;  30%*/

/* color: #624B04;  10% */
