.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: 30px;
  font-family: Times;
  line-height: 1;
}
.stars::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    #fc0 var(--percent),
    #c3c3c3 var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
