.disable-drag {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.sigPadContainer hr{
    margin-bottom: unset;
    background-color: gainsboro;
  }
  .sigPadContainer button {
    border: none;
    margin-left: auto;
    color: rgb(78, 75, 75);
    padding: 0;
    display: block;
    margin-top: 5px;
  }
  .sigPadContainer button:hover {
    background-color: unset;
    color: black;
  }