.analytics-designer .dim-styles {
    height: 62vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.analytics-designer .fact-styles {
    height: 62vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.analytics-designer ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.analytics-designer ::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

/* Handle */
.analytics-designer ::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

/* Handle on hover */
.analytics-designer ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

.analytics-designer .index {
    display: flex;
}

.analytics-designer .index-title {
    width: 95%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.analytics-designer .index-active {
    background-color: var(--secondary-color);
    color: white;
}

.analytics-designer .index-hover:hover {
    background-color: var(--secondary-color);
    color: white;
}

.analytics-designer .dimension {
    display: flex;
}

.analytics-designer .dimension-title {
    width: 95%;
}

.analytics-designer .dimension-hover:hover {
    background-color: var(--secondary-color);
    color: white;
}
.analytics-designer .measure {
    display: flex;
}

.analytics-designer .measure-title {
    width: 95%;
}

.analytics-designer .measure-hover:hover {
    background-color: var(--secondary-color);
    color: white;
}
.analytics-designer .padding-for-setting {
    padding: 2px 10px 2px 10px;
}
