.w-250 {
    width: 250px;
}
.ml-22 {
    margin-left: 22px;
}
.divider-hitbox {
    cursor: col-resize;
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.divider {
    height: 100%;
    border: 1px solid #808080;
}
.divider:hover {
    border: 1px solid #1e1e1e;
}

.split-container {
    display: flex;
    justify-content: space-between;
}

.left-section {
    min-width: 50vw;
    padding-right: 10px;
    border-right: 1px solid var(--border-color);
    min-height: 80vh;
    height: 100%;
    /* max-width: 100%; */
    overflow: auto;
}

.right-section {
    flex: 0 0 35%; /* Right section takes 35% of the width */
    padding-left: 20px;
    position: sticky;
    top: 60px;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    width: 250px;
    padding: 1rem;
}

.content-table-label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

/* .section-header, */
.section-title {
    margin-bottom: 10px;
}

.link-list,
.related-list {
    list-style-type: none;
    padding: 0;
    cursor: pointer;
}

.link-list li,
.related-list li,
.download-list {
    margin-left: 15px;
    white-space: nowrap;
    line-height: 20px;
}

.link-item,
.related-item {
    margin-bottom: 5px;
    cursor: pointer;
}

.link,
.related-link {
    text-decoration: none;
    color: #007bff;
}

.rightPane {
    max-height: 100%;
    flex: 0.5;
}
.centerPane {
    flex: 1;
}

.leftPane {
    height: auto;
    overflow: auto;
    white-space: nowrap;
}

.leftPane .s2a-scroll,
.rightPane .s2a-scroll{
      max-height: 100% !important;
}

.tree .tree-node {
    padding: 5px 10px;
    min-width: 90%;
    margin-bottom: 5px;
    display: inline-block;
    border-left: 1px solid var(--border-color);
}

.tree .tree-node.active,
.tree .tree-node:hover {
    background-color: var(--primary-color);
}

.splitView {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.doc-warning {
    background-color: var(--primary-color);
}

.doc-locked-icon {
    color: #ffca7a;
}

.node-selection-color {
    background-color: var(--primary-color);
}

.title-click {
}

.title-click:hover {
    text-decoration: underline;
}
