:root {
    --form-selection-color: #0b5fff;
    --form-hover-color: #8eabe7;
    --form-background-color: #cdced9;
    --form-column-color: #9ea1d4;
    --form-row-color: #ceedc7;
    --form-component-color: #f7f7f7;
}

.form-builder .body {
    /* display: flex;
    flex-direction: row; */
}

.form-builder .row-edit-pos {
    z-index: 4;
    right: 75px;
    top: -26px;
    color: var(--font-color);
}

.form-builder .row-copy-pos {
    z-index: 4;
    right: 50px;
    top: -26px;
}

.form-builder .row-paste-pos {
    z-index: 4;
    right: 25px;
    top: -26px;
}

.form-builder .row-delete-pos {
    z-index: 4;
    right: 5px;
    top: -26px;
}

.form-builder .col-edit-pos {
    z-index: 4;
    right: -32px;
    top: 0px;
    color: var(--font-color);
}

.form-builder .col-copy-pos {
    z-index: 4;
    right: -32px;
    top: 25px;
    color: var(--font-color);
}

.form-builder .col-paste-pos {
    z-index: 4;
    right: -32px;
    top: 50px;
    color: var(--font-color);
}

.form-builder .col-delete-pos {
    z-index: 4;
    right: -32px;
    top: 75px;
}

.form-builder .col-grid-pos {
    z-index: 4;
    right: 12px;
    top: 9px;
}

.page-builder .row-delete-pos {
    z-index: 4;
    right: 6px;
    top: -26px;
}

.page-builder .row-edit-pos {
    z-index: 4;
    right: 26px;
    top: -26px;
    color: var(--font-color);
}
.page-builder .col-delete-pos {
    z-index: 4;
    right: -33px;
    top: 20px;
}
.page-builder .col-edit-pos {
    z-index: 4;
    right: -34px;
    top: 0px;
    color: var(--font-color);
}

.page-builder .col-grid-pos {
    z-index: 4;
    right: 12px;
    top: 9px;
}
.form-builder .sideBar {
    /* flex: 0 0 1;
    width: 200px;
    padding: 10px;
    border-left: 1px solid #111;
    height: 100vh;
    border-left: 1px solid rgb(212, 212, 212);
    background: #e1e1e1; */
}

.form-builder .sideBarItem {
    /* border: 1px solid #000;
    border-radius: 3px;
    height: 30px;
    padding: 10px;
    margin-top: 10px;
    background: #ccc; */
    /* width: 49vh; */
    margin: 0px 4px 8px;
}

.form-builder .page {
    /* flex: 1 1 auto;
    padding: 0 20px;
    margin: 20px;
    border: 1px solid #ffd4b2;
    background-color: #ffd4b2; */
}

.form-builder .drop-zone {
    color: white;
    flex: 0 0 auto;
    background-color: var(--form-background-color);
    height: 20px;
    border-radius: 10px;
    transition: 200ms all;
    margin: 5px;
}

.form-builder .drop-zone:hover {
    color: black;
    flex: 0 0 auto;
    background-color: var(--form-background-color);
    height: 20px;
    border-radius: 10px;
    transition: 200ms all;
    margin: 5px;
}

.form-builder .drop-zone:nth-of-type(2n) {
    display: none;
}

.form-builder .drop-zone.horizontalDrag {
    color: white;
    width: 20px;
    height: auto;
    border-radius: 10px;
}

.form-builder .drop-zone.horizontalDrag:hover {
    color: black;
    width: 20px;
    height: auto;
    border-radius: 10px;
}

.form-builder .drop-zone:not(.horizontalDrag).isLast {
    flex: 1 1 auto;
}

.form-builder .drop-zone.active,
.form-builder .trashDropZone.active {
    outline: 3px solid var(--form-hover-color);
    transition: 100ms all;
}

.form-builder .drop-zone-2.horizontalDrag {
    color: white;
    width: 20px;
    height: auto;
    min-height: 96px;
    /* border-radius: 10px; */
}

.form-builder .drop-zone-2.horizontalDrag:hover {
    color: black;
    width: 20px;
    height: auto;
    /* border-radius: 10px; */
}

.form-builder .drop-zone-2:not(.horizontalDrag).isLast {
    flex: 1 1 auto;
}

.form-builder .drop-zone-2.active,
.form-builder .trashDropZone.active {
    outline: 3px solid var(--form-hover-color);
    transition: 100ms all;
}

.form-builder .drop-zone-2 {
    color: var(--font-color);
    flex: 0 0 auto;
    background-color: var(--border-color);
    height: 20px;
    /* border-radius: 10px; */
    transition: 200ms all;
    margin: 5px;
}

#from-builder .enable-scroll {
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.form-builder .drop-zone-2:hover {
    /* border-radius: 10px; */
}

/* .form-builder .drop-zone-2:nth-of-type(2n) {
    display: none;
} */

.form-builder .component-outline {
    outline: 2px solid var(--link-active-color);
}

.form-builder .row-outilne {
    outline: 2px dashed var(--font-color);
}

.form-builder .col-outline {
    margin: 0px 2px;
    transition: all 0.5s;
    outline: 2px dotted var(--font-color);
}

.form-builder .component {
    background-color: transparent !important;
    min-height: 60px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    /* padding: 10px; */
}

.form-builder .column,
.form-builder .col-s2a {
    background-color: var(--form-column-color);
    /* flex: 1 1 100%; */
    /* padding: 10px; */
}

/* .form-builder .col-wrapper {
    text-align: center;
} */

.form-builder .columns,
.form-builder .row-s2a {
    background-color: var(--form-row-color);
    /* display: flex; */
    /* padding: 20px 0; */
}

.form-builder .columnContainer {
    display: flex;
    border: 1px solid #fd8a8a;
    background-color: #fd8a8a;
}

.image-font {
    color: Var(--font-color);
}

.form-builder .base {
    padding: 4px 6px;
}

.form-builder .row {
}

.form-builder .trashDropZone {
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vh;
    border-radius: 10px;
    position: sticky;
    top: 0;
    padding: 5px;
}

.form-builder .trashDropZone:hover {
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vh;
    border-radius: 10px;
    position: sticky;
    top: 0;
    padding: 5px;
}

.form-builder .pageContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 100px;
    /* border: 1px solid #efefef; */
}

.form-builder .tooltip-bg {
    background-color: var(-form--selection-color);
}

/* .s2a-page-layout {
    padding: 5px;
} */

.form-builder .row-paste-top-actions {
    top: -25px;
    left: 5px;
}
.form-builder .row-paste-bottom-actions {
    left: 5px;
    bottom: -30px;
}
.form-builder .component-paste-bottom-actions {
    left: 5px;
    bottom: -30px;
}
.form-builder .column-paste-left-actions {
    top: 0px;
    left: -28px;
}
.form-builder .column-edit-right-actions {
    top: 0px;
    right: -32px;
}
.form-builder .column-paste-right-actions-selected {
    top: 75px;
    right: -32px;
}
.form-builder .column-paste-right-actions-not-selected {
    top: 0px;
    right: -32px;
}
.form-builder .component-paste-top-actions {
    left: 5px;
    top: -28px;
}
.form-builder .component-copy-actions {
    right: 0px;
    top: 0px;
}
.form-builder .component-paste-top-column-actions {
    right: 90px;
    top: 8px;
}
.form-builder .row-edit-top-actions {
    top: -25px;
    right: 10px;
}
.form-builder .s2a-page-layout .row {
}

.form-builder .s2a-page-layout .col {
}

.form-builder .s2a-page-layout .component {
}

/* bs-utils */

.form-builder .translate-start {
    transform: translateY(-100%) !important;
}

.form-builder .start-0-custom {
    left: -3px !important;
}

.form-builder .layout-style {
    width: 160vw;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 75vh;
    min-height: 75vh;
}

.form-builder .widgets-style {
    max-height: 75vh;
    min-height: 75vh;
    width: 40vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.form-builder .scroll-for-all {
    max-height: 88vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.enable-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: var(--primary-color);
    /* background-color: var(--background-color); */
}

.enable-scroll::-webkit-scrollbar {
    width: 8px;
    /* background-color: var(--background-color); */
}

.enable-scroll::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
}

.enable-scroll::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
    border-radius: 5px;
}

.form-builder .layout-style::-webkit-scrollbar-track,
.form-builder .widgets-style::-webkit-scrollbar-track,
.form-builder .scroll-for-all::-webkit-scrollbar-track {
    -webkit-box-shadow: var(--primary-color);
    /* background-color: var(--form-background-color); */
}

.form-builder .layout-style::-webkit-scrollbar,
.form-builder .widgets-style::-webkit-scrollbar,
.form-builder .scroll-for-all::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    /* background-color: var(--form-background-color); */
}

.form-builder .layout-style::-webkit-scrollbar-thumb,
.form-builder .widgets-style::-webkit-scrollbar-thumb,
.form-builder .scroll-for-all::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--primary-color);
    /* background-color: var(--primary-color); */
}

.form-builder .layout-style::-webkit-scrollbar-thumb:hover,
.form-builder .widgets-style::-webkit-scrollbar-thumb:hover,
.form-builder .scroll-for-all::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
    border-radius: 5px;
    /* background-color: #b2b2b2; */
}

.form-builder .col-styles {
}

.form-builder .trash-bin-style {
    width: 10vw;
    height: 7vh;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    font-size: 1em;
    color: black;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
}

.form-builder .trash-bin-style:hover {
    width: 10vw;
    height: 7vh;
    border: 1px solid red;
    border-radius: 5px;
    display: flex;
    font-size: 1em;
    color: red;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
}


.form-builder .row-section .fa-paste,
.form-builder .row-section .fa-plus{
    /* opacity: 30%; */
    /* display: none; */
}

.form-builder .row-section:hover .fa-paste,
.form-builder .row-section:hover .fa-plus
{
    /* opacity: 100%; */
    /* display: block; */
}