{
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "tabWidth": 4,
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "proseWrap": "always",
    "singleAttributePerLine": true
}