.date-range-picker,
.date-range-picker label,
.date-range-picker .MuiPickersInputBase-input,
.date-range-picker .MuiPickersInputBase-root,
.date-range-picker .MuiSvgIcon-root,
.date-range-picker .MuiInputBase-root {
    color: var(--font-color) !important;
    font-size: var(--font-size-base) !important;
}

.date-range-picker .MuiPickersInputBase-root {
    border: 1px solid var(--border-color) !important;
}
