/* html, */
.app-dashboard body {
  margin: 0;
  padding: 0;
}

.app-dashboard .body {
  display: flex;
  flex-direction: row;
}

.app-dashboard .sideBar {
  flex: 0 0 1;
  width: 200px;
  padding: 10px;
  background-color: #ffff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.app-dashboard .sideBarItem {
  border: 1px solid #ffc0c0;
  border-radius: 20px;
  height: 29px;
  padding: 2px;
  padding-left: 20px;
  margin-top: 10px;
  background: #fff;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}
.app-dashboard .sideBarItem:hover {
  border: 1px solid #ffc0c0;
  border-radius: 20px;
  height: 29px;
  padding: 2px;
  padding-left: 20px;
  margin-top: 10px;
  background: #fff;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  background-image: linear-gradient(90deg,   #2bc0e4 0%, #eaecc6 100%);
}

.app-dashboard .sidebar-item-left {
  border: 1px solid #ffc0c0;
  border-radius: 20px;
  background: #fff;
  height: 29px;
  width: 190px;
  margin-top: 10px;
  margin-left: -5px;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}
.app-dashboard .sidebar-item-left:hover {
  border: 1px solid #ffc0c0;
  border-radius: 20px;
  background: #fff;
  height: 29px;
  width: 190px;
  margin-top: 10px;
  margin-left: -5px;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
 background-image: linear-gradient(90deg,   #2bc0e4 0%, #eaecc6 100%);
}

.app-dashboard .sideBarRight {
  flex: 0 0 1;
  width: 200px;
  padding: 10px;
  height: 100vh;
  /* min-height: 50vh; */
  background: #ffff;
  /* color: white; */
  /* border-top-left-radius: 20px; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.app-dashboard .sideBarItemRight {
  border: 1px solid #000;
  border-radius: 20px;
  height: 30px;
  padding: 2px;
  padding-left: 20px;
  margin-top: 10px;
  background: #ffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.app-dashboard .page {
  width: 100%;
  flex: 1 1 auto;
  padding: 0 20px;
  margin: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  /* border: 1px solid black; */
  /* overflow-y: scroll; */
}

.dropZone {
  flex: 0 0 auto;
  height: 40px;
  transition: 200ms all;
  border: 1px solid #ffc0c0;
  border-radius: 20px;
  background: #fff;
  height: 29px;
  margin-top: 10px;
  margin-left: -5px;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  /* background-image: linear-gradient(90deg, #d9afd9 0%, #97d9e1 100%); */
}

.dropZone:nth-of-type(2n) {
  display: none;
}

.dropZone.horizontalDrag {
  width: 40px;
  height: auto;
}

.dropZone:not(.horizontalDrag).isLast {
  flex: 1 1 auto;
}

.dropZone.active,
.trashDropZone.active {
  background: #00a2ff;
  transition: 100ms all;
}

.app-dashboard .component {
  /* height: 60px; */
  min-height: 10vh;
  /* min-width: 10vh; */
  /* padding: 10px; */
  background: #aaa;
}

.app-dashboard .column {
  /* border: 1px solid blue; */
  min-height: 10vh;
  /* width: 100%; */
  border: 1px solid black;
  border-radius: 20px;
  flex: 1 1 100%;
  padding: 10px;
}

.app-dashboard .columns {
  display: flex;
  /* padding: 20px 0; */
}

.app-dashboard .columnContainer {
  display: flex;
}

.app-dashboard .base {
  padding: 0.5rem 1rem;
  background-color: white;
  cursor: move;
}

.app-dashboard .row {
  /* border: 1px solid red; */
  /* border: 1px solid black;
  border-radius: 20px; */
  padding: 0;
}

.app-dashboard .trashDropZone {
  position: fixed;
  text-align: center;
  padding: 20px 0;
  margin: 20px auto;
  width: 180px;
  height: 40px;
  border: 1px solid #ffc0c0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}
.trashDropZone:hover {
  background-color: rgb(212, 54, 54);
  color: white;
  border: 2px solid red;
  border-radius: 20px;
}

.app-dashboard .pageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 100px;
  overflow-y: scroll;
  max-height: 80vh;
  /* text-align: center; */
  /* max-width: 100vh; */
}
.app-dashboard .pageContainer .design_btn {
  flex: 1 1;
  flex-direction: column;
  text-align: center;
  /* max-width: 100vh; */
}

.app-dashboard .pageContainer .btn {
  /* position: fixed; */
}

.draggable.row {
  /* border: 1px solid grey; */
}
.dropZone,
.horizontalDrag {
  border: 1px solid grey;
}

.app-dashboard .page-name-style {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #c8c8c8;
  margin: auto;
  margin: 5px;
  border-radius: 20px;
  padding: 5px;
}
