#member-kanban p {
  font-family: DavidLibre, serif;
  font-weight: bold;
}

#member-kanban .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#member-kanban .column {
  height: max-content;
  min-height: 100px;
  width: 80vh;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  border-radius: 2px;
  background-color: #eee;
  margin: 5px;
  border-radius: 2px;
  max-height: 69vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#member-kanban .column::-webkit-scrollbar-track {
    -webkit-box-shadow: var(--secondary-color);
    background-color: var(--background-color);
}

#member-kanban .column::-webkit-scrollbar {
    width: 5px;
    background-color: var(--background-color);
}

#member-kanban .column::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 5px;
}

#member-kanban .column::-webkit-scrollbar-thumb:hover {
    background-color: #b2b2b2;
    border-radius: 5px;
}

#member-kanban .do-it-column {
  background-color: #eee;
}

#member-kanban .in-progress-column {
  background-color: #eee;
}

#member-kanban .awaiting-review-column {
  background-color: #eee;
}

#member-kanban .done-column {
  background-color: #eee;
}

#member-kanban .movable-item {
  border-radius: 5px;
  background-color: #eee;
  min-height: 100px;
  width: 240px;
  margin: 10px auto;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}

#member-kanban .heading {
  padding: 7px;
  margin: 2px;
  font-size: larger;
  font-family: DavidLibre, serif;
  font-weight: bold;
}
#member-kanban .description {
  display: flex;
  margin: 2px;
  font-family: DavidLibre, serif;
}
