/* Album Component Css */

#album .small-images,
.modal-small-images {
  padding: 4px;
}

#album .divider {
  border-bottom: 1px solid #dee2e6;
}

#album img {
  border-radius: 5px !important;
}

#album .small-images-container {
  height: 385px;
  overflow: auto;
  margin: 0px !important;
}

#album .small-images img {
  width: 100% !important;
  height: 50px !important;
}

#album .modal-small-images img {
  position: relative;
  width: 100% !important;
  height: 115px !important;
}

#album .album-overlay {
  position: absolute;
  top: 0px;
  background-color: #0005;
  width: 96%;
  height: 92%;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 5px;
  padding-top: 85px;
  padding-left: 10px;
}

#album .small-images-container p {
  color: white;
  margin-bottom: 0px !important;
  font-weight: bold;
  margin-left: 10px;
}

#album .modal-small-images {
  cursor: pointer;
  position: relative;
}

#album #imageActive {
  width: 100%;
  height: 375px;
}

#album #big-image {
  background: black;
  padding: 0px 100px;
  margin-top: 10px;
  position: relative;
}

#album .gallery {
  position: absolute;
  top: 25px;
  left: 3px;
}

#album .gallery i {
  background: white;
  color: black;
}

#album .gallery i:hover {
  background: black;
  color: white;
}

#album #gallery-images {
  margin-top: 10px;
  display: none;
}

#album #gallery-images img {
  position: relative;
}

#album #gallery-images .gallery-overlay {
  position: absolute;
  top: 80px;
  background-color: #0005;
  width: 96%;
  height: 31%;
  cursor: pointer;
  border-radius: 5px;
  padding-top: 9px;
  padding-right: 5px;
  padding-left: 5px;
  display: block;
}

#album #gallery-images .gallery-overlay h4 {
  float: left;
  margin: 0px !important;
  color: white;
}

#album #gallery-images .gallery-overlay p {
  float: right;
  color: white;
}

#album #imageLightBox .arrow {
  cursor: pointer;
  display: block;
  height: 30px;
  outline: medium none;
  position: absolute;
  top: 185px;
  width: 65px;
  z-index: 5;
}

#album #imageLightBox .arrow i {
  color: white !important;
}

#album #imageLightBox .arrow.prev {
  left: 25px;
  opacity: 0.5;
  transition: all 0.2s linear 0s;
}

#album #imageLightBox .arrow.next {
  padding-left: 42px;
  opacity: 0.5;
  right: 25px;
  transition: all 0.2s linear 0s;
}

#album #imageLightBox .arrow.prev:hover {
  opacity: 1;
}

#album #imageLightBox .arrow.next:hover {
  opacity: 1;
}